body {
    background-color: black;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
}

.game_section {
    background-image: url("image/SPBack.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 90%;
    width: 95%;
    position: absolute;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}

.game_container {
    background-image: url("image/SouthPark2.jpg");
    background-size: cover;
    opacity: 0.7;
    width: 50vw;
    height: 31.25vw;
    color: rgb(255, 123, 0);
    text-align: center;
    margin-left: 10px;
    margin-right: 0;
  

}

.game_container h1 {
    position: relative;
    padding-top: 0.5vw;
    font-size: 2vw;
    font-weight: 400;
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    
}

#right_letters {
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0.25vw 0;
    font-size: 2vw;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to right, red, orange, purple);
}

#wrong_letters {
    font-size: 2vw;
    color: rgb(255, 123, 0);
    font-weight: 400;
    width: 100%;
}

#attempts {
    font-size: 1.7vw;
    font-weight: 400;
    margin-bottom: 0.5vw;
    color: red;
    position: relative;
    margin: 0.7vw;
}

#game_win, #game_lose {
    padding-top: 0.5vw;
    font-size: 2.3vw;
    font-weight: 300;
}

