body {
    background-image: url("image/backdrop-874452_1280.jpg");
    font-family: "Lato", "Open Sans", "Helvetica Neue";
}

.game_section {
    background-image: url("image/SPBack.jpg");
    background-repeat: repeat;
    height: 700px;
    width: 95%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
}

.game_container {
    background-image: url("image/SouthPark2.jpg");
    opacity: 0.7;
    background-position: bottom;
    max-width: 45%;
    height: 500px;
    color: rgb(255, 123, 0);
    text-align: center;
    margin-left: 10px;;
  

}

.game_container h1 {
    padding-top: 15px;
    font-size: 30px;
    font-weight: 400;
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#right_letters {
    padding: 7px 0;
    font-size: 27px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, red, orange, purple);
}

#wrong_letters {
    font-size: 25px;
    color: rgb(255, 123, 0);
    font-weight: 600;
}

#attempts {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 10px;
    color: red;
}

#game_win, #game_lose {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 300;
}

